# Node
node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log
.pnpm-debug.log
.npm
.yarn

# Angular
dist/
out-tsc/
.angular/
.env

# IDE
.vscode/
*.swp
*.swo

# Sistema
.DS_Store
Thumbs.db

# Python
venv/
__pycache__/
*.pyc
.env
